name: Go

on:
  pull_request:
  push:
    branches:
      - "**"
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GOEXPERIMENT: jsonv2
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.25

      - name: Test
        run: make clean cache generate lint test

      - name: Build
        run: bash ./build.sh

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/v')
        id: release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload Release Asset Linux AMD64
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-release-asset@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./build/lingualeo-linux-amd64
          asset_name: lingualeo-linux-amd64
          asset_content_type: application/octet-stream

      - name: Upload Release Asset Linux ARM64
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-release-asset@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./build/lingualeo-linux-arm64
          asset_name: lingualeo-linux-arm64
          asset_content_type: application/octet-stream

      - name: Upload Release Asset Darwin AMD64
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-release-asset@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./build/lingualeo-darwin-amd64
          asset_name: lingualeo-darwin-amd64
          asset_content_type: application/octet-stream

      - name: Upload Release Asset Darwin ARM64
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-release-asset@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./build/lingualeo-darwin-arm64
          asset_name: lingualeo-darwin-arm64
          asset_content_type: application/octet-stream

      - name: Upload Release Asset Windows AMD64
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-release-asset@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./build/lingualeo-windows-amd64
          asset_name: lingualeo-windows-amd64
          asset_content_type: application/octet-stream

      - name: Upload Release Asset Windows ARM64
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-release-asset@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./build/lingualeo-windows-arm64
          asset_name: lingualeo-windows-arm64
          asset_content_type: application/octet-stream
