name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GOEXPERIMENT: jsonv2
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Test
        run: make clean cache generate lint test

      - name: Build
        run: bash ./build.sh

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/*
          generate_release_notes: true
